In [34]:
import json
import numpy as np
import pandas as pd
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import SGDClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score

In [35]:
# Constants

# File paths
DATA_FP = "./data/" # Data file path
TWEETS_FP = DATA_FP + "tweets.json"
TRAIN_DEV_FP = DATA_FP + "labels-train+dev.tsv"
TEST_FP = DATA_FP + "labels-test.tsv"

# Column names
COL_ID = 'ID'
COL_TWEET = 'Tweet'
COL_LABEL = 'Label'

---
# Data Preprocessing

## Tweets

In [36]:
# process the first file (Tweets)
tweets = []
with open(TWEETS_FP, 'r') as tweets_fh:  # Tweets file handle
    for line in tweets_fh:   # put each line in a list of lines
        j_content = json.loads(line)
        tweets.append(j_content)

tweets = pd.DataFrame(tweets, columns=[COL_ID, COL_TWEET])  # make a dataframe out of it

In [37]:
tweets # looks good!

                       ID                                              Tweet
0      483885347374243841  اللهم أفرح قلبي وقلب من أحب وأغسل أحزاننا وهمو...
1      484023414781263872  إضغط على منطقتك يتبين لك كم يتبقى من الوقت عن ...
2      484026168300273664  اللَّهٌمَّ صَلِّ وَسَلِّمْ عَلىٰ نَبِيِّنَآ مُ...
3      483819942878650369  @Dinaa_ElAraby اها يا بيبي والله اتهرست علي تو...
4      483793769079123971  • افضل كتاب قرأته هو : أمي (ابراهام لنكولن)\n🌹...
5      483934868070350849              @hudc7721 انتظري اجل \nخيره لك يارب 😘
6      483863369972473856  (وإن تجهر بالقول فإنه يعلم السر وأخفى) [طه:7]\...
7      483871567311413248  ﺧﻟك ﻋزﯾز آﻟﻧﻓس ﻟۈ ﮪﻣۈﻣك ﺟﺑآللاﭠﺷﺷﮐي ﻟﻟﻧآﺳس ﻣن ...
8      483931429902884864  عشان الجنّة أجمل ؟  الله يبعدنا عن كل ذنب مايخ...
9      483773756897124352  توجيه كيفية تثبيت البرامج الثابتة ROM التحميل ...
10     483986544865210368                @dana_mahmod هههههه ماشاء الله حكيك
11     483873243598565376  @anabs_anabs @Rayedrd أنشهد بس فيه بعض الناس ل...
12     483790646176935936  {يعلمون ظاهرا من الحياة الدنيا وهم عن الآخرة ه...
13     483911764674105344  http://t.co/4KAHaNd4an سيدي إيفني : شكاية أجنب...
14     483798014239072256  أعجبتني هذه الـ #keek http://t.co/vORaVpTnJ9 ر...
15     483954767727980544  (إن  الذين  كفروا  من  أهل  الكتاب  والمشركين ...
16     484025624076374016  ان كان غيري عن هوى قلبي اغناك، يغنيني الله عن ...
17     483764454283558912  #بحترم\nالشخص اللي ماشي بمبدأ اللي مردهوش على ...
18     483918976129302528  @uu44pp @abunawafeid @3ajel_news الصوره هاذي ا...
19     483811483906625536  حتى الندم على المعصيه تؤجر عليه - سبحانك يالله...
20     483782119827582977  اللهم قدر لنا الفرح بكل اشكاله ، انت الكريم ال...
21     483780914452111360  {وأنه هو أغنى وأقنى} [النجم:48]\nhttp://t.co/i...
22     483975567989956608             @AlwaaKsa وش حطيتي ؟؟\nانا اقول تيفاني
23     483938071646584834  حسبي الله لا إله إلا هو عليه توكلت وهو ربُّ ال...
24     483782693868433408  #غزه_تحت_القصف\n\nداعش أخواني حيل عندكم بالمدن...
25     484025449207451648  انقلاب حافلة في “قليّب خضر” بالجوف الى إصابة 7...
26     483942359281836032  @sarah66600  اي موقف تتكلمين عنه .. قصدك ملايي...
27     483770900127285248  ب50 ريال أكفل معتمر في رمضان ، ولك بإذن الله م...
28     483866174556352512                                @ana_bent_gad3a الو
29     483770765985083392                                  يا ابو سلو عرفتني
...                   ...                                                ...
66891  493381795287531520                              這個週末兩天都跟 Navel 很有緣...
66892  493132254579675138  {CWB} 桃園縣 一週天氣預報(07/27 05:00發布): 07/27 白天 溫度:2...
66893  488630113211518976    其實我很想問，噗浪怎麼鎖回應然後又開啟的#### http://t.co/sQBh6jmVoW
66894  486899420798009344  -\n賀文p14\n台灣訪問你地\n其他成員話你係全隊最天不怕地不怕果陣\n我林： 如果你去...
66895  492664113739231232  我已收获 817 食物！http://t.co/JghsHr4QV4 #iphone, #i...
66896  487199504416768000                     基隆唯一一家！ http://t.co/7f6yE7zKo2
66897  490456582136676352                                          注个销都能死机……
66898  488488642370080769  全平台翻墙指南（PC＋安卓＋iOS+Mac+Linux）[2014.7更新] https:/...
66899  491992347278725120  『 』 免費的女性向戀愛遊戲★想和哥哥假結婚看看嗎？　https://t.co/YOUkKU...
66900  491661312745676800  我正在玩「神女控」，一个结合漂亮卡片战斗和迷你城市建造的游戏！一起参与战斗去冒险吧！ htt...
66901  489025682597363714                           现在的常规上班时间基本稳定在早11晚9或10……
66902  494650331528433666             #204.7.25 花蓮區漁會 http://t.co/yOukLkXwCr
66903  494331450800361473                    @shota_nuke 好做，重点是捣碎和蒸，嫌麻烦就上压力锅
66904  485752157937741824                                   @makzihau 当然是史地啦
66905  490766951061270528                                          请别以为你有多难忘
66906  484328282582577152   @EmmaKongms 所以我地要叫朋友來開account 先，緊急情況要識轉台睇Twitter
66907  486841789866070016                              @hundtw 不要眯啦 來喝一杯啦 #喂
66908  484996827121344512  《音速經紀》於背地裡支援音速子 引導玩家的 “音樂女神”「繆斯」登場 http://t.co...
66909  491731230618963968                                     @immei0125 空调呢
66910  494627004973465601  Ace of Base - Unspeakable (Junk &amp; Function...
66911  493305178523963392  那就点64个赞哈 RT @ls691208: 大酥不要好人卡，好人卡最后都木有好下场！RT ...
66912  484586108282736641                  @Official_SABC1 Moloooo nakuwe!!!
66913  494052509619482625  占领美帝  http://t.co/nBd1Rvy8WK http://t.co/Cy2UK...
66914  485273015035244545  我取得了一项新成就：`管理员`.尝试在iPad版Tribez游戏中打败我吧！http://t...
66915  484912347106926592  热点文章：《《京城81号》吴镇宇特辑—在线播放—优酷网，视频高清在线观看》 http://t...
66916  486035976079147009        大立光2450盤中新高 台股收漲9520 http://t.co/T1x9EhD7mi
66917  486299665873108992  真佛宗大马各分堂中元节法会活动，欢迎护持 !\n\n农历七月的『中元節』即将到来。农历七月是...
66918  490364709082652673  我已收获 2,211 食物！http://t.co/Fo8dtabIw7 #android,...
66919  484672019091300352  精神統一精神統一精神統一精神統一精神統一精神統一精神統一精神統一精神統一精神統一精神統一精神...
66920  491155187755515904                      一分鐘世界盃！http://t.co/yEvaMrp7ki

[66921 rows x 2 columns]

## Labels

In [38]:
# deal with both label documents

train_dev_labels = pd.read_csv(TRAIN_DEV_FP, sep='\t', header=None, names=[COL_LABEL, COL_ID])
test_labels = pd.read_csv(TEST_FP, sep='\t', header=None, names=[COL_LABEL, COL_ID])

In [39]:
train_dev_labels # looks about right

       Label                  ID
0        ar   483762194908479488
1         ar  483762916097654784
2         ar  483764828784582656
3         ar  483765526683209728
4         ar  483768342315282432
5         ar  483770765985083392
6         ar  483770900127285248
7         ar  483770997892345857
8         ar  483773690769702912
9         ar  483773756897124352
10        ar  483777578163908609
11        ar  483780914452111360
12        ar  483782119827582977
13        ar  483782693868433408
14        ar  483783499174772736
15        ar  483783505445265409
16        ar  483790646176935936
17        ar  483793769079123971
18        ar  483796613656109056
19        ar  483796979063848960
20        ar  483799673044344832
21        ar  483802793459736576
22        ar  483805955852107776
23        ar  483807295134900224
24        ar  483811483906625536
25        ar  483818326599426048
26        ar  483819942878650369
27        ar  483824293952749568
28        ar  483831683653697537
29        ar  483848516356562945
...      ...                 ...
96384  zh-CN  492581164196978690
96385  zh-CN  492602588031090689
96386  zh-CN  492664113739231232
96387  zh-CN  493280795314753536
96388  zh-CN  493305178523963392
96389  zh-CN  493466690378686466
96390  zh-CN  493645244248756224
96391  zh-CN  494052509619482625
96392  zh-CN  494068544120705025
96393  zh-CN  494331450800361473
96394  zh-CN  494627004973465601
96395  zh-CN  494730046020403200
96396  zh-TW  483849852225196032
96397  zh-TW  484245222742704128
96398  zh-TW  484328282582577152
96399  zh-TW  484996827121344512
96400  zh-TW  486035976079147009
96401  zh-TW  486841789866070016
96402  zh-TW  486899420798009344
96403  zh-TW  488630113211518976
96404  zh-TW  489697736854634496
96405  zh-TW  490149224416174081
96406  zh-TW  490514766029279233
96407  zh-TW  490667138081099776
96408  zh-TW  491155187755515904
96409  zh-TW  492349820346974209
96410  zh-TW  493132254579675138
96411  zh-TW  493381795287531520
96412  zh-TW  493643635632930816
96413  zh-TW  494059705564553216

[96414 rows x 2 columns]

In [40]:
tweets[COL_ID]=tweets[COL_ID].astype(int) # to allow for merge, need the same type

train_dev_data = pd.merge(tweets, train_dev_labels, on=COL_ID) # merge by ID
test_data = pd.merge(tweets, test_labels, on=COL_ID) # merge by ID

In [41]:
train_dev_data.head()

                   ID                                              Tweet Label
0  483885347374243841  اللهم أفرح قلبي وقلب من أحب وأغسل أحزاننا وهمو...    ar
1  484023414781263872  إضغط على منطقتك يتبين لك كم يتبقى من الوقت عن ...    ar
2  484026168300273664  اللَّهٌمَّ صَلِّ وَسَلِّمْ عَلىٰ نَبِيِّنَآ مُ...    ar
3  483819942878650369  @Dinaa_ElAraby اها يا بيبي والله اتهرست علي تو...    ar
4  483793769079123971  • افضل كتاب قرأته هو : أمي (ابراهام لنكولن)\n🌹...    ar

In [42]:
test_data.tail()

,ID,Tweet,Label
13447,491992347278725120,『 』 免費的女性向戀愛遊戲★想和哥哥假結婚看看嗎？ https://t.co/YOUkKU...,zh-TW
13448,494650331528433666,#204.7.25 花蓮區漁會 http://t.co/yOukLkXwCr,zh-TW
13449,485752157937741824,@makzihau 当然是史地啦,zh-CN
13450,484586108282736641,@Official_SABC1 Moloooo nakuwe!!!,zu
13451,484672019091300352,精神統一精神統一精神統一精神統一精神統一精神統一精神統一精神統一精神統一精神統一精神統一精神...,zh-TW

In [43]:
def drop_n_shuffle(data):
    data_no_na = data.dropna().copy()
    return data_no_na.sample(frac=1)

train_dev_data_prepared = drop_n_shuffle(train_dev_data).reset_index(drop = True)
train_set = train_dev_data_prepared.sample(frac=0.9, random_state=0) # take 90% of the data, reshuffle
test_set = drop_n_shuffle(test_data)
dev_set = train_dev_data_prepared.drop(train_set.index) # take 10% that remain

In [44]:
print(train_set.head()) #some checks
print(type(train_set))
print(dev_set.head())
print(type(dev_set))
print(test_set.head())
print(type(test_set))

                       ID                                              Tweet  \
36399  491331570322907136  dois mil e catorze pior ano #MTVHottest One Di...
20147  488373339380285440            Chidinma you so cuuuteee #ChurchillShow
3049   487037857337724928  Posta que hace como dos dias no salgo de mi ca...
23766  489222461859196928  @RevyChamber who's ready for this weekend's ev...
38766  489431347136851968       muita onda esse comercial do NUCE com Magrão

      Label
36399   und
20147    en
3049     es
23766    en
38766    pt
<class 'pandas.core.frame.DataFrame'>
                    ID                                              Tweet  \
10  492611996479533058                             @vampirechance thnx ;)
19  487018018589777920  New Job: Environmental, Occupation, Safety, an...
43  488785743330811904            @yugro f4bfae1ecbe90d04e55f5f1dd5a75b3a
52  486612107845459970  @De_Zurda Este partido #BRAvsALE le da la razó...
55  492306178136088576                                        @JoeLydon51

   Label
10   und
19    en
43   und
52    es
55   und
<class 'pandas.core.frame.DataFrame'>
                       ID                                              Tweet  \
5857   486978792070856704  Tardee demasiado buenas con las que mas quiero...
10019  492719206572359682                                 フィズの尻尾に巻いてある布…何あれ？
1974   487072082547601408  “@tinysatii: Fting jay is so funny 😭😂🙌”Yall Ir...
12988  491144374416187393  Pesta natal heboh, ada di Now Jakarta The Chri...
10262  493832961788104704                                       4th見終わった\n寝る

      Label
5857     es
10019    ja
1974     en
12988   und
10262    ja
<class 'pandas.core.frame.DataFrame'>

In [45]:
# drop the ID columns, not needed anymore

train = train_set.drop(COL_ID, axis=1)
dev = dev_set.drop(COL_ID, axis=1)
test = test_set.drop(COL_ID, axis=1)

In [46]:
train.head()

                                                   Tweet Label
36399  dois mil e catorze pior ano #MTVHottest One Di...   und
20147            Chidinma you so cuuuteee #ChurchillShow    en
3049   Posta que hace como dos dias no salgo de mi ca...    es
23766  @RevyChamber who's ready for this weekend's ev...    en
38766       muita onda esse comercial do NUCE com Magrão    pt

In [47]:
dev.head()

                                                Tweet Label
10                             @vampirechance thnx ;)   und
19  New Job: Environmental, Occupation, Safety, an...    en
43            @yugro f4bfae1ecbe90d04e55f5f1dd5a75b3a   und
52  @De_Zurda Este partido #BRAvsALE le da la razó...    es
55                                        @JoeLydon51   und

In [48]:
test.head()

                                                   Tweet Label
5857   Tardee demasiado buenas con las que mas quiero...    es
10019                                 フィズの尻尾に巻いてある布…何あれ？    ja
1974   “@tinysatii: Fting jay is so funny 😭😂🙌”Yall Ir...    en
12988  Pesta natal heboh, ada di Now Jakarta The Chri...   und
10262                                       4th見終わった\n寝る    ja

In [49]:
test

                                                   Tweet Label
5857   Tardee demasiado buenas con las que mas quiero...    es
10019                                 フィズの尻尾に巻いてある布…何あれ？    ja
1974   “@tinysatii: Fting jay is so funny 😭😂🙌”Yall Ir...    en
12988  Pesta natal heboh, ada di Now Jakarta The Chri...   und
10262                                       4th見終わった\n寝る    ja
10568                                       俺たち～ガチで吐きにっ！    ja
3098   Why human always do the same mistake? 'coz hum...    en
8431                 誰か部内宴でどぶろっくとテツandトモを一緒にやってくれる人いませんか    ja
5491                     Todo es cuestion de superaaaar.    es
7100   Franchement si tu pouvais ne pas exister ça me...    fr
10804  Stuur de mensen waarvan je weet dat ze het moe...    nl
11141  Tô deixando rolar, o que for pra ser, será... ...    pt
8484    http://t.co/Xn19uMbKRw  夜の部まで時間あるので、スノハレの聖地来てみた。    ja
11781                    @tatsyuksays Ахахаха напросился    ru
9145                        （´つд=）＜もとなりどの…それがし、もうねむいでござる    ja
11875                            กดเกเดกเ  #PopAsiaBEAST    th
8236                                  @a_tempo7 まじで留年すんぞ    ja
11145  3 pessoas visualizaram seu perfil agora http:/...    pt
903       @free_sosuke omfg i almost thought you were me    en
13265                                           Kodong:(   und
7542   Paling males liat orang kalau nulis status hur...    id
5736   #Hondarribia recibe a los ciclistas de la @TRA...    es
98     @OlaAlfares  \nانتي طقطقوا عليك انتي معاهم في ...    ar
4328   Groupon has expanded to over 50 towns and citi...    en
7141                     Prend nous pour tes folles einh    fr
2267    @ali_tex98 I LOVE YOU. HOLY CHEESE AND CRACKERS💘    en
8122                     ブラント、よく考えろ。重要なのはコードじゃない、ヘンドリクスだ    ja
7473   @auliaartatirhrj sudahh ^^ .. Bantu promote ki...    id
13181                                     @ReiNa_Rissa 😳   und
3533   They scream, "the worst things in life come fr...    en
...                                                  ...   ...
3482   You have a nuts-and-bolts approach to complex ...    en
12302                             Foto mbek mantan *code   und
5578                                    Baraberebarabere    es
8998                                                熱ピタァ    ja
9113                                              さんじごはん    ja
12873  http://t.co/W76E6wr5Xu WOW!! @EdenAlex @OdeanM...   und
10017                @_ikyon_ でもきっとこの子も「俺たちは血液だ〜」とか言っちゃう    ja
7021   Boutik Fun Kreation et votre coque/carte de vi...    fr
7694   teman rmh pada kmana tau dah,dipangil kga pada...    id
10117                    こ・・・こいつもチェンジリングのダミーだ\nどんどん増えていく    ja
11774  - Мама, ну мне же уже 16! почему ты мне до сих...    ru
6887   hoy esa mamada si ni regalandoles las entradas...    es
12150  birsürü tag var bizde insanız dfs ama bütün ad...    tr
2042   Eid presents sorted #rawhoney\n\nFound at http...    en
4824   Dq delivered to my bed #happygal http://t.co/6...    en
9738                           CD明日かいにいこうw\nドラクエ　イン　ナウ～w    ja
8207   @4423yabukiq @ryuuen_nazo @sas_gign .....アリス.....    ja
5360   Today stats: No new followers, One unfollower ...    en
585    Ich habe im Spiel Tribez &amp; Castlez für #An...    de
3605   I love all stars in sky, but they are nothing ...    en
5443   La gata de mi amiga me acaba de tirar media bo...    es
6502   #FlkytoFreschLoVe ♥ Estudio asegura que es mej...    es
10951  @IsabellaMyPride Não . porque ??? Taah louko e...    pt
7536                      Jum'at, 11 Juli 2014 Jam 11:26    id
5936                      @__Genesissss de quien es jaja    es
1683   I went to hard over the weekend I'm chillin un...    en
8733   @marron33pm じゅのを見てると伝わってきますよね｡･ﾟ(ﾟ⊃ω⊂ﾟ)ﾟ･｡すきすぎ...    ja
9740                天馬の女の子らしい体つき羨ましい。だって細いだけよりずっと可愛いだろ…。    ja
3279   @poppymontgomery I love how you act in @un4get...    en
302               صحبك حقيقى فلوسك وان باعك الدنيا تدوسك    ar

[13452 rows x 2 columns]

In [50]:
train.describe() # descrption of data

        Tweet  Label
count   48122  48122
unique  48054     76
top        :(     en
freq        6  16849

In [51]:
train.groupby(COL_LABEL).size() # more description of teh data. See that there are lots of Arabian and English tweets, also quite a few in Spanish and Portuguese

Label
ar          2031
ar             1
ar_LATN       10
az             1
bg             2
bn             7
bs             3
ca            20
cs             3
cy             1
da             7
de           153
dv             1
el            35
en         16849
es          5401
et             2
fa            18
fi            14
fr           874
gl             2
ha             1
he            27
hi            15
hi-Latn       15
hr             5
ht             2
hu            13
hy             2
id          2734
           ...
nl           163
no             9
pl            83
ps             1
ps_LATN        1
pt          2606
ro            11
ru           894
si             1
sl             2
sq             7
sr            19
su             9
sv            49
sw             6
ta             8
ta_LATN        1
th           422
tl           289
tn             1
tr           606
uk            16
und         4357
ur             6
ur_LATN       12
vi            14
wo             1
xh             1
zh-CN         23
zh-TW          8
Length: 76, dtype: int64

In [52]:
X_train = train.Tweet # split the data in Series
y_train = train.Label
X_test = test.Tweet
y_test = test.Label

In [53]:
print(type(X_train))
print(type(y_train))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [54]:
from sklearn.preprocessing import LabelEncoder
#encode the labels. First step means simple encoding, the second makes a series out of the array that was outputted and
    #the third step means we output strings again (strings are apparently needed as a format)

label_encoder = LabelEncoder()

y_train_encoded = label_encoder.fit_transform(y_train)
y_train_series = pd.Series(y_train_encoded)
y_train_str = y_train_series.apply(str)

y_test_encoded = label_encoder.fit_transform(y_test)
y_test_series = pd.Series(y_test_encoded)
y_test_str = y_test_series.apply(str)

In [55]:
pipeline1 = Pipeline([('tfidf', TfidfVectorizer()), ('clf0', MultinomialNB())]) #first test with a pipeline

In [56]:
pipeline1.fit(X_train, y_train_str) #using y_train_str

Pipeline(memory=None,
         steps=[('tfidf',
                 TfidfVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.float64'>,
                                 encoding='utf-8', input='content',
                                 lowercase=True, max_df=1.0, max_features=None,
                                 min_df=1, ngram_range=(1, 1), norm='l2',
                                 preprocessor=None, smooth_idf=True,
                                 stop_words=None, strip_accents=None,
                                 sublinear_tf=False,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, use_idf=True,
                                 vocabulary=None)),
                ('clf0',
                 MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))],
         verbose=False)

In [57]:
pipeline1.predict(X_test)

array(['15', '14', '14', ..., '14', '14', '0'], dtype='<U2')

In [58]:
y_test_str #doesn't look too right, but it is a very simple model

0        11
1        23
2        10
3        52
4        23
5        23
6        10
7        23
8        11
9        15
10       36
11       39
12       23
13       41
14       23
15       48
16       23
17       39
18       10
19       52
20       21
21       11
22        0
23       10
24       15
25       10
26       23
27       21
28       52
29       10
         ..
13422    10
13423    52
13424    11
13425    23
13426    23
13427    52
13428    23
13429    15
13430    21
13431    23
13432    41
13433    11
13434    50
13435    10
13436    10
13437    23
13438    23
13439    10
13440     8
13441    10
13442    11
13443    11
13444    39
13445    21
13446    11
13447    10
13448    23
13449    23
13450    10
13451     0
Length: 13452, dtype: object

In [59]:
#honestly i don't know why i did that anymore!!!
from sklearn.feature_extraction.text import CountVectorizer

count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(X_train)
from sklearn.feature_extraction.text import TfidfTransformer
tfidf_tranformer = TfidfTransformer(smooth_idf=True).fit(X_train_counts)
X_train_tfidf = tfidf_tranformer.transform(X_train_counts)
print(type(X_train_tfidf))

<class 'scipy.sparse.csr.csr_matrix'>

In [60]:
#same here
nb_clf = MultinomialNB()
nb_clf.fit(X_train_tfidf, y_train_str)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [61]:
#follows here
y_predicted = nb_clf.predict(X_train_tfidf)
print(y_predicted[0:50])

['14' '14' '15' '14' '51' '15' '15' '29' '32' '14' '14' '29' '19' '15'
 '32' '14' '14' '14' '15' '14' '15' '51' '68' '14' '0' '32' '14' '14' '14'
 '32' '15' '29' '15' '29' '14' '14' '51' '14' '14' '14' '32' '14' '14'
 '15' '15' '15' '14' '29' '32' '0']

In [62]:
#and here
y_train_str

0        68
1        14
2        15
3        14
4        51
5        15
6        15
7        29
8        32
9        14
10       14
11       29
12       19
13       15
14       32
15       14
16       18
17       63
18       15
19       61
20       15
21       51
22       68
23       68
24        0
25       32
26       14
27       66
28       14
29       32
         ..
48092    32
48093    64
48094    14
48095    53
48096    32
48097    51
48098    14
48099    36
48100    14
48101    14
48102    15
48103    68
48104    15
48105    14
48106    15
48107    32
48108    32
48109    14
48110     0
48111    14
48112    15
48113    68
48114    14
48115    15
48116    64
48117    51
48118    32
48119    14
48120    32
48121    31
Length: 48122, dtype: object

In [64]:
#first serious pipeline with ngrams and tfidf
pipeline_NB01 = Pipeline([
    ('ngram', CountVectorizer(ngram_range=(1, 4), analyzer='word')),
    ('tfidf', TfidfTransformer()),
    ('clf01', MultinomialNB())
])

In [65]:
#param_grid is fitting the pipeline_NB01
param_grid01 = {'clf01__alpha': [0.2, 0.6, 0.8, 1.0],
                 'clf01__fit_prior': [True, False]}  #'ngram__ngram_range': [(1, 1), (1, 2), (1, 4)]

In [66]:
#This model here seems to work
gs_NB01= GridSearchCV(pipeline_NB01, param_grid01, cv=2, n_jobs=2, verbose=1)
gs_NB01.fit(X_train, y_train)

Fitting 2 folds for each of 8 candidates, totalling 16 fits

/usr/local/lib/python3.6/site-packages/sklearn/model_selection/_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=2.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=2)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done  16 out of  16 | elapsed:   54.0s finished

GridSearchCV(cv=2, error_score='raise-deprecating',
             estimator=Pipeline(memory=None,
                                steps=[('ngram',
                                        CountVectorizer(analyzer='word',
                                                        binary=False,
                                                        decode_error='strict',
                                                        dtype=<class 'numpy.int64'>,
                                                        encoding='utf-8',
                                                        input='content',
                                                        lowercase=True,
                                                        max_df=1.0,
                                                        max_features=None,
                                                        min_df=1,
                                                        ngram_range=(1, 4),
                                                        preprocessor=None,
                                                        stop_words=None,
                                                        strip_accents=None,
                                                        to...
                                       ('tfidf',
                                        TfidfTransformer(norm='l2',
                                                         smooth_idf=True,
                                                         sublinear_tf=False,
                                                         use_idf=True)),
                                       ('clf01',
                                        MultinomialNB(alpha=1.0,
                                                      class_prior=None,
                                                      fit_prior=True))],
                                verbose=False),
             iid='warn', n_jobs=2,
             param_grid={'clf01__alpha': [0.2, 0.6, 0.8, 1.0],
                         'clf01__fit_prior': [True, False]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=1)

In [113]:
y_NB01 = gs_NB01.predict(X_test)

In [114]:
y_test #results are quite terrible though 
# they are actually better than with the avg word length extractor included in the features :D wtf o_o

5857      es
10019     ja
1974      en
12988    und
10262     ja
10568     ja
3098      en
8431      ja
5491      es
7100      fr
10804     nl
11141     pt
8484      ja
11781     ru
9145      ja
11875     th
8236      ja
11145     pt
903       en
13265    und
7542      id
5736      es
98        ar
4328      en
7141      fr
2267      en
8122      ja
7473      id
13181    und
3533      en
        ...
3482      en
12302    und
5578      es
8998      ja
9113      ja
12873    und
10017     ja
7021      fr
7694      id
10117     ja
11774     ru
6887      es
12150     tr
2042      en
4824      en
9738      ja
8207      ja
5360      en
585       de
3605      en
5443      es
6502      es
10951     pt
7536      id
5936      es
1683      en
8733      ja
9740      ja
3279      en
302       ar
Name: Label, Length: 13452, dtype: object

In [115]:
accuracy_score(y_test, y_NB01)

0.7334225393993459

But here we really need to find the best_model out of this data i got. I don't remember how to see it in the matrix, see Tutorial!

In [88]:
#Average word length extractor, inspired  by https://michelleful.github.io/code-blog/2015/06/20/pipelines/)
class AverageWordLengthExtractor(BaseEstimator, TransformerMixin):
    """Takes in dataframe, extracts tweet column, outputs average word length"""

    def __init__(self):
        pass

    def average_word_length(self, tweet):
        """Helper code to compute average word length of a tweet"""
        return np.mean([len(word) for word in tweet.split()])

    def transform(self, df, y=None):
        """The workhorse of this feature extractor"""
        # the result of the transform needs to be a 2d array a.k.a. dataframe
        # https://stackoverflow.com/a/50713209
        return df.apply(self.average_word_length).to_frame()

    def fit(self, df, y=None):
        """Returns `self` unless something different happens in train and test"""
        return self

In [124]:
# read this blog post on how to construct feature unions :) 
# http://zacstewart.com/2014/08/05/pipelines-of-featureunions-of-pipelines.html

# the problem was that our previous pipeline went sorta like this:
# create n-grams from text (CountVectorizer) -> tfidf from ngrams (TfidfTransformer) -> average length from ngrams (AvgWLExtractor) ummm :) that wouldn't work... we need to compute the average word length from the original data (tweets / strings).
# that's why we have to do these two "pipelines" separately => now we just compute the avg from the strings like so...

pipeline_NB1 = Pipeline([
    ('features', FeatureUnion([
        # first feature
        ('ngram_tfidf', Pipeline([
            ('ngram', CountVectorizer(ngram_range=(1, 4), analyzer='word')),
            ('tfidf', TfidfTransformer())
        ])),
        # second feature
        ('ave', AverageWordLengthExtractor())
    ])),
    ('nb_clf', MultinomialNB()) # classifier
])

In [118]:
#-*- coding: utf-8 -*-
y_train.describe()

count     48122
unique       76
top          en
freq      16849
Name: Label, dtype: object

In [125]:
param_grid1 = {'nb_clf__alpha': [0.2, 0.6, 0.8, 1.0],
                 'nb_clf__fit_prior': [True, False]}  #'ngram__ngram_range': [(1, 1), (1, 2), (1, 4)]

In [126]:
gs_NB1= GridSearchCV(pipeline_NB1, param_grid1, cv=2, n_jobs=2, verbose=1)
gs_NB1.fit(X_train, y_train)

Fitting 2 folds for each of 8 candidates, totalling 16 fits

/usr/local/lib/python3.6/site-packages/sklearn/model_selection/_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=2.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=2)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done  16 out of  16 | elapsed:  1.0min finished

<class 'pandas.core.series.Series'>

GridSearchCV(cv=2, error_score='raise-deprecating',
             estimator=Pipeline(memory=None,
                                steps=[('features',
                                        FeatureUnion(n_jobs=None,
                                                     transformer_list=[('ngram_tfidf',
                                                                        Pipeline(memory=None,
                                                                                 steps=[('ngram',
                                                                                         CountVectorizer(analyzer='word',
                                                                                                         binary=False,
                                                                                                         decode_error='strict',
                                                                                                         dtype=<class 'numpy.int64'>,
                                                                                                         encoding='utf-8',
                                                                                                         input='content',
                                                                                                         lowercase=True,
                                                                                                         max_df=1.0,
                                                                                                         ma...
                                                                                 verbose=False)),
                                                                       ('ave',
                                                                        AverageWordLengthExtractor())],
                                                     transformer_weights=None,
                                                     verbose=False)),
                                       ('nb_clf',
                                        MultinomialNB(alpha=1.0,
                                                      class_prior=None,
                                                      fit_prior=True))],
                                verbose=False),
             iid='warn', n_jobs=2,
             param_grid={'nb_clf__alpha': [0.2, 0.6, 0.8, 1.0],
                         'nb_clf__fit_prior': [True, False]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=1)

In [127]:
y_NB1 = gs_NB1.predict(X_test)

<class 'pandas.core.series.Series'>

In [128]:
accuracy_score(y_test, y_NB1)
# not rly sure why the accuracy is lower than NB01, kinda confused bout this :D

0.605783526613143

In [123]:
# Let's test without avg but with a nested FeatureUnion with 1 feature (pipeline)
# This should have the same accuracy as NB01, and it does... which implies that the pipeline/featureunion thing is correct. I'd say we have to look into hyperparams to fix the accuracy.
pipeline_NB2 = Pipeline([
    ('features', FeatureUnion([
        # first feature
        ('ngram_tfidf', Pipeline([
            ('ngram', CountVectorizer(ngram_range=(1, 4), analyzer='word')),
            ('tfidf', TfidfTransformer())
        ]))
    ])),
    ('nb_clf', MultinomialNB()) # classifier
])

gs_NB2= GridSearchCV(pipeline_NB2, param_grid1, cv=2, n_jobs=2, verbose=1) # same param_grid as NB1
gs_NB2.fit(X_train, y_train)
y_NB2 = gs_NB2.predict(X_test)
accuracy_score(y_test, y_NB2)

Fitting 2 folds for each of 8 candidates, totalling 16 fits

/usr/local/lib/python3.6/site-packages/sklearn/model_selection/_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=2.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=2)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done  16 out of  16 | elapsed:   52.5s finished

0.7334225393993459

In [138]:
#have a try with SGD, same features!
pipeline_SGD = Pipeline([
    ('feats', FeatureUnion([
        ('ngram_tfidf', Pipeline([
            ('ngram', CountVectorizer(ngram_range=(1, 4), analyzer='word')),
            ('tfidf', TfidfTransformer()), 
        ])),
        ('ave', AverageWordLengthExtractor())
    ])),
    ('SGD_clf', SGDClassifier())# classifier
])

In [139]:
grid_param_SGD = {'SGD_clf__loss': ['hinge', 'log'],
                  'SGD_clf__penalty': ['none', 'l1', 'l2'],
                  'SGD_clf__max_iter': [50, 100, 500, 1000]}

In [140]:
gs_SGD = GridSearchCV(pipeline_SGD, grid_param_SGD, cv=2, n_jobs=4, verbose=1)
gs_SGD.fit(X_train, y_train)
##NOTE: it crashed^s at the same point: could not convert string to float: 'ញាំថ្នាំផ្តាសសាយខ្លាំពេកឡើងគេញលែងចង់ចង់ក្រោកហើយ....'
#Maybe some problem with the encoding?

Fitting 2 folds for each of 24 candidates, totalling 48 fits

/usr/local/lib/python3.6/site-packages/sklearn/model_selection/_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=2.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  48 out of  48 | elapsed:  5.5min finished

<class 'pandas.core.series.Series'>

GridSearchCV(cv=2, error_score='raise-deprecating',
             estimator=Pipeline(memory=None,
                                steps=[('feats',
                                        FeatureUnion(n_jobs=None,
                                                     transformer_list=[('ngram_tfidf',
                                                                        Pipeline(memory=None,
                                                                                 steps=[('ngram',
                                                                                         CountVectorizer(analyzer='word',
                                                                                                         binary=False,
                                                                                                         decode_error='strict',
                                                                                                         dtype=<class 'numpy.int64'>,
                                                                                                         encoding='utf-8',
                                                                                                         input='content',
                                                                                                         lowercase=True,
                                                                                                         max_df=1.0,
                                                                                                         max_f...
                                                      n_jobs=None, penalty='l2',
                                                      power_t=0.5,
                                                      random_state=None,
                                                      shuffle=True, tol=0.001,
                                                      validation_fraction=0.1,
                                                      verbose=0,
                                                      warm_start=False))],
                                verbose=False),
             iid='warn', n_jobs=4,
             param_grid={'SGD_clf__loss': ['hinge', 'log'],
                         'SGD_clf__max_iter': [50, 100, 500, 1000],
                         'SGD_clf__penalty': ['none', 'l1', 'l2']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=1)

In [136]:
y_SGD = gs_SGD.predict(X_test)

In [141]:
accuracy_score(y_test, y_SGD)

0.8403954802259888